.jumbotron {
    background-image: url("https://www.audi.fr/content/dam/nemo/fr/Teasers-Homepage/2019/1920x600/1920x600_Audi_FR_HP_Q5_TFSI_e.jpg?output-format=webp&downsize=1439px:*");
    height: 435px;
}

#main button {
    position: relative;
    right: -20%;
}

#main .btn {
    padding: 15px;
    border-radius: 2px;
}

#intro {
    position: relative;
    bottom: 40px;
    right: -13%;
    color: white;
}

#modeles:hover {
    text-decoration-line: underline;
}

#redouanecard .card {
    color: black;
    border-color: white;
    transition: .5s;
}

#redouanecard .voitures {
    transition: .5s;
}

#redouanecard .card:hover {
    transform: scale(1.1);
    text-decoration-line: underline;
}

#redouanecard .voitures:hover {
    transform: scale(1.1);
    text-decoration-line: underline;
}

.card {
    margin-left: -20px;
    ;
    color: white;
    border-radius: 1px;
    margin-bottom: 5px;
}

#card1 {
    background-image: url("https://sf2.viepratique.fr/wp-content/uploads/sites/9/2018/11/ok2-750x410.jpg");
    background-position: center;
    background-size: cover;
}

.card .btn {
    background: transparent;
    color: white;
    padding: 15px;
    border-radius: 1px;
    border-color: white;
}

#card1 .btn,
#card2 .btn,
#card4 .btn {
    position: absolute;
    bottom: 40px;
    left: 30px;
    padding: 16px 60px 16px 60px;
    border-radius: 1px;
    border-color: white;
}

#card2 {
    background-image: url("https://img.autoplus.fr/news/2019/06/12/1539405/7f9b53cd1c5377f6b9304446-1350-900.jpg?r");
    color: black;
    background-position: center;
    background-size: cover;
}

#card3 {
    background-image: url("https://www.automobile-magazine.fr/asset/cms/840x394/87336/config/69199/cette-audi-a5-cabriolet-deuxieme-generation-perpetue-la-tradition-delegance-et-de-finesse-de-ses-devancieres.jpg");
    background-position: 35% 65%;
    color: black;
    background-size: 600px 30rem;
}

#card3 .btn {
    border-color: white;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 30px;
    padding: 15px;
    border-radius: 1px
}

#card4 {
    background-image: url("https://www.largus.fr/images/images/audi-a7-sportback-2018-6-_1.jpg");
    color: black;
    background-position: center;
    background-size: cover;
}

#cards2 .card,
#cards3 .card {
    color: black;
    padding-left: 5px;
}

#cards3 .card {
    background-color: #F2F2F2;
    border-color: white;
}

footer {
    background-color: #F2F2F2;
}

.meteo {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

.button {
    background-color: black !important;
    border-color: black;
}